.nullnull0 {
-fx-background-image:
   url("myndir/pusl1.png");
   -fx-background-size: cover;
}
.nulleinn0 {
-fx-background-image:
   url("myndir/pusl2.png");
   -fx-background-size: cover;
}

.nulltveir0 {
-fx-background-image:
   url("myndir/pusl3.png");
   -fx-background-size: cover;
}

.einnnull0 {
-fx-background-image:
   url("myndir/pusl4.png");
   -fx-background-size: cover;
}
.einneinn0 {
-fx-background-image:
   url("myndir/pusl5.png");
   -fx-background-size: cover;
}

.einntveir0 {
-fx-background-image:
   url("myndir/pusl6.png");
   -fx-background-size: cover;
}

.tveirnull0 {
-fx-background-image:
   url("myndir/pusl7.png");
   -fx-background-size: cover;
}
.tveireinn0 {
-fx-background-image:
   url("myndir/pusl8.png");
   -fx-background-size: cover;
}

.tveirtveir0 {
-fx-background-image:
   url("myndir/pusl9.png");
   -fx-background-size: cover;
}

.nullnull1 {
-fx-background-image:
   url("myndir/pusl11.png");
   -fx-background-size: cover;
}
.nulleinn1 {
-fx-background-image:
   url("myndir/pusl12.png");
   -fx-background-size: cover;
}

.nulltveir1 {
-fx-background-image:
   url("myndir/pusl13.png");
   -fx-background-size: cover;
}

.einnnull1 {
-fx-background-image:
   url("myndir/pusl14.png");
   -fx-background-size: cover;
}
.einneinn1 {
-fx-background-image:
   url("myndir/pusl15.png");
   -fx-background-size: cover;
}

.einntveir1 {
-fx-background-image:
   url("myndir/pusl16.png");
   -fx-background-size: cover;
}

.tveirnull1 {
-fx-background-image:
   url("myndir/pusl17.png");
   -fx-background-size: cover;
}
.tveireinn1 {
-fx-background-image:
   url("myndir/pusl18.png");
   -fx-background-size: cover;
}

.tveirtveir1 {
-fx-background-image:
   url("myndir/pusl19.png");
   -fx-background-size: cover;
}

.AUTT {
-fx-background-image:
  null;
}